## Os module

In [1]:
import os

In [3]:
os.getcwd()   #get current working directory

'C:\\Users\\ACER\\Desktop\\Data Analysis with Python'

In [6]:
os.listdir()    #list all the files in directory

['.ipynb_checkpoints',
 '01_Introduction to Python.ipynb',
 '02_Numpy introduction.ipynb',
 '03_file handling.ipynb']

In [8]:
os.makedirs('data')      #make a new file in directory

In [10]:
'data' in os.listdir()    #check if file is in current working directory

True

In [11]:
os.listdir('data')    #view content of directory

[]

## Urllib module

In [1]:
import urllib

In [2]:
url='https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

In [3]:
from urllib.request import urlretrieve       #used to retrieve url

In [6]:
urlretrieve(url , './data/covid-daywise.csv')    #save the file in current working directory

('./data/covid-daywise.csv', <http.client.HTTPMessage at 0x2622af59400>)

In [5]:
import pandas as pd

In [8]:
covid_df=pd.read_csv('./data/covid-daywise.csv')

In [9]:
covid_df.head()

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

In [10]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [12]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [14]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [15]:
covid_df.shape

(248, 4)

In [16]:
covid_df.new_tests.first_valid_index()    #returns the first index where new_tests have a numerical value except nan

111

In [17]:
covid_df.sample(10)    #used to retrieve a random sample of rows from the data frame.

           date  new_cases  new_deaths  new_tests
152  2020-05-31      416.0       111.0    28948.0
118  2020-04-27     2324.0       260.0    26678.0
213  2020-07-31      382.0         3.0    29686.0
187  2020-07-05      235.0        21.0    21166.0
141  2020-05-20      813.0       162.0    38617.0
57   2020-02-26       93.0         5.0        NaN
224  2020-08-11      259.0         4.0    22063.0
178  2020-06-26      296.0        34.0    28331.0
72   2020-03-12     2313.0       196.0        NaN
179  2020-06-27      255.0        30.0    29721.0

In [28]:
covid_df['new_tests'][118]

26678.0

In [26]:
covid_df.at[118 , 'new_tests']

26678.0

In [31]:
covid_df.new_tests[118]

26678.0

In [32]:
covid_df.loc[118:120]

           date  new_cases  new_deaths  new_tests
118  2020-04-27     2324.0       260.0    26678.0
119  2020-04-28     1739.0       333.0    37554.0
120  2020-04-29     2091.0       382.0    38589.0